In [2]:
L1=['A','B',"C"]
L2=['X','Y',"Z"]
L1

['A', 'B', 'C']

In [5]:
L3=L1+L2

In [4]:
print(L3)

['A', 'B', 'C', 'X', 'Y', 'Z']

In Memory

In [8]:
L1.extend(L2)
print(L1)

['A', 'B', 'C', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [11]:
print(L1)
L1.index("C")

['A', 'B', 'C', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

2

In [15]:
L1=['A', 'B', 'C', 'X','A', 'Y', 'Z', 'X', 'Y', 'Z']

In [16]:
print(L1)

['A', 'B', 'C', 'X', 'A', 'Y', 'Z', 'X', 'Y', 'Z']

In [17]:
L1.index("A",1)

4

In [22]:
L1=[]
L1.append('1')
print(L1)

['1']

In [24]:
L1.insert(0,'A')
L1.insert(0,'B')
L1.insert(0,'C')
print(L1)

['C', 'B', 'A', '1']

In [25]:
L1=['A','B','C']
a=L1.pop()
print(L1)
print(a)

['A', 'B']
C

In [26]:
L2=[]
temp=L1.pop()
L2.append(temp)
print(L1)
print(L2)

['A']
['B']

In [27]:
temp=L1.pop()
L2.append(temp)
print(L1)
print(L2)

[]
['B', 'A']

In [35]:
print(L2)
L2.reverse()
print(L2)

['A', 'B']
['B', 'A']

In [37]:
L2.sort()
print(L2)

['A', 'B']

In [38]:
L1=["A","B","C"]
L2=["D","E","F"]
L1.__add__(L2)

['A', 'B', 'C', 'D', 'E', 'F']

In [39]:
L1.__class__

list

In [40]:
L1.__contains__("A")

True

In [42]:
L1.__dir__()

['__repr__',
 '__hash__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__iter__',
 '__init__',
 '__len__',
 '__getitem__',
 '__setitem__',
 '__delitem__',
 '__add__',
 '__mul__',
 '__rmul__',
 '__contains__',
 '__iadd__',
 '__imul__',
 '__new__',
 '__reversed__',
 '__sizeof__',
 'clear',
 'copy',
 'append',
 'insert',
 'extend',
 'pop',
 'remove',
 'index',
 'count',
 'reverse',
 'sort',
 '__doc__',
 '__str__',
 '__setattr__',
 '__delattr__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__dir__',
 '__class__']

In [45]:
['Pakistan']*10

['Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Pakistan']

# Loops

# counter
# logic
# inc/dec

1. while
2. for

In [48]:
counter=1 # counter
while counter <=10: #logic
    print("Pakistan ",counter)
    counter +=1 #increment

Pakistan  1
Pakistan  2
Pakistan  3
Pakistan  4
Pakistan  5
Pakistan  6
Pakistan  7
Pakistan  8
Pakistan  9
Pakistan  10

In [49]:
for i in range(1,11): #range doesnt include end
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
counter=100
while counter>=1:
    print(counter)
    counter-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [52]:
["pakistan"+str(x) for x in range(1,11)] #list comprehensive

['pakistan1',
 'pakistan2',
 'pakistan3',
 'pakistan4',
 'pakistan5',
 'pakistan6',
 'pakistan7',
 'pakistan8',
 'pakistan9',
 'pakistan10']

In [61]:
["2 X " +str(i)+" = "+str(2*i) for i in range(1,11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

# Tuple

In [62]:
a= (1,2,3,4,2,3)
a.count(2)

2

In [63]:
a.index(3)

2

In [64]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [2]:
x="yes"
data=[]
i=0
while x=="yes":
    temp=[]
    temp.append(i)
    print("Your name")
    name=input()
    temp.append(name)
    print("your father name ")
    father=input()
    temp.append(father)
    print("course ")
    course=input()
    temp.append(course)
    data.append(temp)
    print("want to enter next record?yes or no")
    x=input()
    i+=1
print(data)

Your name
amad
your father name
atlkjaxx
course
jakujsa
want to enter next record?yes or no
no
[[0, 'amad', 'atlkjaxx', 'jakujsa']]

# Task 1

In [13]:
i=1000
while i>=990:
    print(i)
    i-=1

1000
999
998
997
996
995
994
993
992
991
990

In [1]:
for temp in range(900,1000):
    print(temp)

900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [5]:
for i in range(97,122):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y

In [12]:
l1=[[2,5,9],
[8,9,10],
[20,30,27],
[35,9,20]]
for ri,r in enumerate(l1):
    for ci,c in enumerate(r):
        if c%5==0:
            print((ri,ci,c), end=" ")
    print()

(0, 1, 5)
(1, 2, 10)
(2, 0, 20) (2, 1, 30)
(3, 0, 35) (3, 2, 20)

In [7]:
# table
n=input()
x= int(n)

i=1
while i<=x:
    j=0
    while j<=10:
        print(i*j)
        j+=1
    i+=1

2
0
1
2
3
4
5
6
7
8
9
10
0
2
4
6
8
10
12
14
16
18
20