In [1]:
a=["amad","Haris","Ali","Ahsan"]
a

['amad', 'Haris', 'Ali', 'Ahsan']

In [2]:
a.append("Ahsan")

In [3]:
a

['amad', 'Haris', 'Ali', 'Ahsan', 'Ahsan']

In [5]:
a.append(27)

In [6]:
a

['amad', 'Haris', 'Ali', 'Ahsan', 'Ahsan', 27]

In [7]:
a.index(27)

5

In [8]:
b=["a","b","c"]

In [13]:
c=a+b

In [14]:
c[2:5]

['Ali', 'Ahsan', 'Ahsan']

In [15]:
c[::]

['amad', 'Haris', 'Ali', 'Ahsan', 'Ahsan', 27, 'a', 'b', 'c']

In [16]:
c[1:]

['Haris', 'Ali', 'Ahsan', 'Ahsan', 27, 'a', 'b', 'c']

In [21]:
c.remove(27)

In [23]:
c.remove("Ahsan")

In [24]:
c

['amad', 'Haris', 'Ali', 'Ahsan', 'a', 'b', 'c']

In [25]:
stu1={"name":"amad",
     "degree":"BCSE"}

In [26]:
stu1

{'name': 'amad', 'degree': 'BCSE'}

In [27]:
for key in stu1.keys():
    print(key)

name
degree

In [29]:
for values in stu1.items():
    print(values)

('name', 'amad')
('degree', 'BCSE')

In [33]:
student=[
    {
        "id":1,
        "name":"amad",
        "degree":"BSSE"
    },
    {
        "id":2,
        "name":"Haris",
        "degree":"BSEE"
    },
    {
        "id":3,
        "name":"Ahsan",
        "degree":"BBA"
    }
]

In [34]:
student

[{'id': 1, 'name': 'amad', 'degree': 'BSSE'},
 {'id': 2, 'name': 'Haris', 'degree': 'BSEE'},
 {'id': 3, 'name': 'Ahsan', 'degree': 'BBA'}]

In [38]:
print(student[0].items())

dict_items([('id', 1), ('name', 'amad'), ('degree', 'BSSE')])

In [42]:
dict= {
        "id":4,
        "name":"Ahsan",
        "degree":"BBA"
    }
student.append(dict)

In [43]:
student

[{'id': 1, 'name': 'amad', 'degree': 'BSSE'},
 {'id': 2, 'name': 'Haris', 'degree': 'BSEE'},
 {'id': 3, 'name': 'Ahsan', 'degree': 'BBA'},
 {'id': 4, 'name': 'Ahsan', 'degree': 'BBA'}]

In [48]:
stu={
    0:{
        "Name":"Amad",
        "Degree":"BSSE"
    },
    1:{
        "Name":"Haris",
        "Degree":"BBA"
    }
}

In [50]:
print(stu[0]["Name"])

Amad