* Data wragling
      - joining
        - left_on
        - right_on
        - left_index_on
        - right_index_on
        - how
* Group by
* handling missing value

In [1]:
import pandas as pd
import numpy as np

In [11]:
df1=pd.DataFrame({"CNIC":np.random.randint(1,20,size=(20)),
                  "Account No" : np.random.randint(1001,2000,size=(20))
                                          })
df1.head(2)

   CNIC  Account No
0    13        1314
1     2        1612

In [12]:
df2=pd.DataFrame({"CNIC":np.random.randint(1,20,size=(20)),
                  "Account No" : np.random.randint(1001,2000,size=(20)),
                   "Mobile Number" : np.random.randint(2001,3000,size=(20)),
                   "DOB" : pd.date_range('1990-01-01',periods=20),
                  "Customer Name":[chr(x) for x in np.random.randint(65,91,size=(20))]
                                          })
df2.head(2)

   CNIC  Account No  Mobile Number        DOB Customer Name
0    19        1262           2269 1990-01-01             E
1    19        1411           2594 1990-01-02             E

In [13]:
print(df1.dtypes)
print(df2.dtypes)

CNIC          int32
Account No    int32
dtype: object
CNIC                      int32
Account No                int32
Mobile Number             int32
DOB              datetime64[ns]
Customer Name            object
dtype: object

In [14]:
for c in df2.columns[:2]:
    print(c,len(df2[c].unique()))

CNIC 13
Account No 19

In [15]:
# left_df right_df, on=column(merge based on this)
a=df1.merge(df2, on=["CNIC"], how='inner')

Empty DataFrame
Columns: [CNIC, Account No_x, Account No_y, Mobile Number, DOB, Customer Name]
Index: []