# Python Class 1

In [1]:
print("Pakistan Zindabad")

Pakistan Zindabad

In [4]:
print("pakistan")

pakistan

In [3]:
print("PIAIC")

PIAIC

this is the markdown

function(a,b){
    return a+b
}
this is raw NBConvert

# Data Types

In [10]:
name="Muhammad amad "
father_name="Muhammad atiq "
university="foundation university"

message="""
PIAIC Islamabad Batch 3
Name: {}
Father: {}
unoversity: {}
""".format(name,father_name,university)

print(message)

PIAIC Islamabad Batch 3
Name: Muhammad amad
Father: Muhammad atiq
unoversity: foundation university

In [11]:
name="Muhammad amad atiq"
father_name="Muhammad atiq durrani"
batch="2014-2018"
card="""
Foundation University Islamabad
Name: {}
Father Name:{}
Batch: {}
""".format(name,father_name,batch)
print(card)

Foundation University Islamabad
Name: Muhammad amad atiq
Father Name:Muhammad atiq durrani
Batch: 2014-2018

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [14]:
print?