In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

<h1> Premetive Data types </h1>

In [2]:
a=10
b=20
c=a+b

In [5]:
print (c)

30

In [9]:
print(5+7) # operation
# + operator
#5 & 7 are operands
#PEMDAS
8*7+3/2-4

12

53.5

In [11]:
a = 7
b = 7
print (a)
print (b)

7
7

In [12]:
print(id(a))
print(id(b))

140723443901008
140723443901008

In [15]:
a=7
type(a)
#pass by refrence

int

In [16]:
b=20.7
type(b)

float

In [18]:
c=False
type(c)

bool

In [19]:
a="20.7"
type(a)

str

In [20]:
s='a'
type(s)

str

In [22]:
name= ["amad","ali",20,30.3]
type(name)

list

In [23]:
print(name[0])

amad

In [24]:
print(name)

['amad', 'ali', 20, 30.3]

In [29]:
x= ("a","b",2,2.0)
print(x)
type(x)

('a', 'b', 2, 2.0)

tuple

In [36]:
z={"Hamza","Junaid","Kashif","Hamza"}
print(z)
print(type(z))
z= list(z)
print (z)
type(z)

{'Junaid', 'Hamza', 'Kashif'}
<class 'set'>
['Junaid', 'Hamza', 'Kashif']

list

In [43]:
t={
    "name":"amad",
    "father name":"atiq ",
    "dob":"06/04/1996"}
print(t)
print(t['name'])
print(type(t))

{'name': 'amad', 'father name': 'atiq ', 'dob': '06/04/1996'}
amad
<class 'dict'>

# Exploring String

In [51]:
name1="MUHammaD aMaD"
name2="muhammad amad"
print(name1==name2)
print(name1,name2,sep="\n")

False
MUHammaD aMaD
muhammad amad

In [52]:
dir(name1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [54]:
print(name1.upper())

MUHAMMAD AMAD

In [55]:
print(name1.lower())

muhammad amad

In [56]:
del name

In [58]:
print(name1.title())

Muhammad Amad

In [60]:
print(len(name1))

13

In [66]:
name2="            Muhammad AmAD        "
print(len(name2))
print(len(name2.lstrip()))
print(name2.lstrip())
print(len(name2.rstrip()))
print(name2.rstrip())
print(len(name2.strip()))
print(name2.strip())

33
21
Muhammad AmAD
25
            Muhammad AmAD
13
Muhammad AmAD

In [70]:
a="I am Pakistani I love my country"
a.find("Pakistani")

5

In [77]:
a[5:14:1] #start:end:step

'Pakistani'

In [78]:
a[a.find("Pakistani"):a.find(" ",a.find("Pakistani")):1]

'Pakistani'

In [90]:
name="Amad"
fname="Atiq"
program="PIAIC"
card="""
name:"""+name+"""
father's Name: """+fname+"""
Program:"""+program
print(card)

name:Amad
father's Name: Atiq
Program:PIAIC

In [92]:
print(f'Student Name {name} \n father\'s name: {fname} \n program:{program}')

Student Name Amad
 father's name: Atiq
 program:PIAIC

In [94]:
"name:{1} \n father name:{0}".format(name,fname)

'name:Atiq \n father name:Amad'

In [95]:
print("Name: %s \n fname: %s \n program: %s"%(name,fname,program))

Name: Amad
 fname: Atiq
 program: PIAIC

In [96]:
input=input("enter your name")
print(input)

enter your namemuhammad amad
muhammad amad