In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Table ->Data frame
#Column -> Series Data

In [9]:
df= pd.read_html("https://www.w3schools.com/html/html_tables.asp")
df[1]

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [11]:
df= pd.read_html("https://www.w3schools.com/html/html_tables.asp")[1]
df

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [13]:
df= pd.read_json("https://api.github.com/users/hadley/repos")
df.head()

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,forks_count,mirror_url,archived,disabled,open_issues_count,license,forks,open_issues,watchers,default_branch
0,40423928,MDEwOlJlcG9zaXRvcnk0MDQyMzkyOA==,15-state-of-the-union,hadley/15-state-of-the-union,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-state-of-the-union,None,False,https://api.github.com/repos/hadley/15-state-o...,...,7,NaN,False,False,0,None,7,0,23,master
1,40544418,MDEwOlJlcG9zaXRvcnk0MDU0NDQxOA==,15-student-papers,hadley/15-student-papers,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-student-papers,Graphics & computing student paper winners @ J...,False,https://api.github.com/repos/hadley/15-student...,...,0,NaN,False,False,0,None,0,0,14,master
2,14984909,MDEwOlJlcG9zaXRvcnkxNDk4NDkwOQ==,500lines,hadley/500lines,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/500lines,500 Lines or Less,True,https://api.github.com/repos/hadley/500lines,...,1,NaN,False,False,0,"{'key': 'other', 'name': 'Other', 'spdx_id': '...",1,0,0,master
3,12241750,MDEwOlJlcG9zaXRvcnkxMjI0MTc1MA==,adv-r,hadley/adv-r,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/adv-r,Advanced R: a book,False,https://api.github.com/repos/hadley/adv-r,...,1551,NaN,False,False,29,"{'key': 'other', 'name': 'Other', 'spdx_id': '...",1551,29,1685,master
4,5154874,MDEwOlJlcG9zaXRvcnk1MTU0ODc0,appdirs,hadley/appdirs,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/appdirs,A small Python module for determining appropri...,True,https://api.github.com/repos/hadley/appdirs,...,0,NaN,False,False,0,"{'key': 'other', 'name': 'Other', 'spdx_id': '...",0,0,6,master

In [31]:
df.to_csv("./data/a.csv")
df.to_pickle("./data/a.pkl")

In [14]:
# csv

In [24]:
df=pd.read_csv("./data/abc.csv",encoding='cp1252',usecols=["A","C"])
df.head()

   A  C
0  1  3
1  4  6
2  6  8
3  5  9

In [26]:
df=pd.read_csv("./data/abc.csv")
df

   Unnamed: 0  A    B  C
0           0  1  2.0  3
1           1  4  5.0  6
2           2  6  8.0  8
3           3  5  NaN  9

In [27]:
# Excel

In [29]:
df=pd.read_excel("./data/abc.xlsx",sheet_name="Sheet1")
df

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

# pdf->tabula
## Core concepts
* DataFrame
* series

In [32]:
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [33]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df.describe

<bound method NDFrame.describe of    A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9>

### Series Data 
* index
* Values

In [37]:
obj= pd.Series([1,2,3,4,5])
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [38]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
obj.values

array([1, 2, 3, 4, 5], dtype=int64)

In [47]:
obj1= pd.Series([1,2,3,4,5], index=["A","B","C","D","E"])
obj1

A    1
B    2
C    3
D    4
E    5
dtype: int64